.card-white-form {
  .card-white-form-header {
    padding: 25px 30px 15px 30px;
    margin: 0 0 10px 0;
    position: relative;

    .card-white-form-header-row {
      h3 {
        font-weight: 400;
        font-size: 20px;
        line-height: 1.4;
        color: #252631;
        margin: 0 0 0 0;
        display: block;
      }
    }
  }

  .card-white-form-body {
    padding: 15px 30px;
    margin: 0 0 0 0;
    position: relative;
  }
}

.form-custom-div {
  padding: 0 0;
  margin: 0;
  position: relative;

  .form-group-custom {
    margin-bottom: 24px;
    position: relative;

    label {
      font-weight: 400;
      font-size: 14px;
      color: #252631;
      line-height: 1.4;
      margin: 0 0 10px 0;
    }

    .form-control {
      font-size: 14px;
      color: #98a9bc;
      border: 1px solid #e8ecef;
      border-radius: 4px;
      min-height: 52px;
      padding: 8px 15px 8px 15px;
      line-height: 24px;
      margin: 0 0 5px 0;
      font-weight: 500;

      &::-webkit-input-placeholder {
        color: #98a9bc;
      }

      &::-moz-placeholder {
        color: #98a9bc;
      }

      &:-ms-input-placeholder {
        color: #98a9bc;
      }

      &:-moz-placeholder {
        color: #98a9bc;
      }

      &:hover,
      &:focus,
      &:active {
        border-color: #4d7cfe;
        box-shadow: none;
        outline: none;
      }
    }

    input[type="password"].form-control {
      padding-right: 40px;
    }

    .custom-icon {
      position: absolute;
      top: 1px;
      left: 1px;
      height: 38px;
      width: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #8e98a0;

      .icon-UserName1 {
        font-size: 20px;
      }

      .icon-Password {
        font-size: 20px;
      }
    }

    .icon-group {
      position: absolute;
      top: 1px;
      right: 1px;
    }

    .pass-hide {
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: none;
      color: rgba(142, 152, 160, 0.5);
      cursor: pointer;
      outline: none;
    }

    h3.h3-text {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.5;
      color: #1b1e24;
      min-height: 52px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  .button-update-div {
    padding: 55px 0 0 0;
    margin: 0 0 15px 0;
    position: relative;
  }

  /* checkbox */
  .custom-checkbox {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 0;
    font-weight: 400;
    font-size: 14px;
    color: #778ca2;
    letter-spacing: 0;
    line-height: 24px;

    .custom-control-label {
      margin-bottom: 0;
      cursor: pointer;
      padding: 0 0 0 30px;

      &::before {
        background-color: #e8ecef;
        border: 1px solid #e8ecef;
        width: 18px;
        height: 18px;
        border-radius: 2px;
        top: 2px;
      }
    }

    .custom-control-input:checked ~ .custom-control-label::after {
      background-size: 10px;
      top: 3px;
      left: 1px;
    }

    .custom-control-input:focus ~ .custom-control-label::before {
      box-shadow: 0 0 0 0 #fff, 0 0 0 0 rgba(142, 152, 160, 0.25);
    }
  }

  .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #4d7cfe;
  }

  /* End of checkbox */
}

@media (max-width: 767px) {
  .card-white-form {
    .card-white-form-header {
      padding: 15px 20px 5px 20px;
    }

    .card-white-form-body {
      padding: 10px 20px;
    }
  }

  .form-custom-div {
    .button-update-div {
      padding: 35px 0 0 0;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .card-white-form {
    .card-white-form-header {
      padding: 25px 20px 15px 20px;
    }

    .card-white-form-body {
      padding: 10px 20px;
    }
  }

  .form-custom-div {
    .button-update-div {
      padding: 35px 0 0 0;
    }
  }
}
