@charset "UTF-8";
.menu-icon {
  height: 24px;
  width: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%23fff' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-menu white-color'%3E%3Cline x1='3' y1='12' x2='21' y2='12'%3E%3C/line%3E%3Cline x1='3' y1='6' x2='21' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='18' x2='21' y2='18'%3E%3C/line%3E%3C/svg%3E");
}

.menu-icon-hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%23131727' stroke='%23131727' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-menu white-color'%3E%3Cline x1='3' y1='12' x2='21' y2='12'%3E%3C/line%3E%3Cline x1='3' y1='6' x2='21' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='18' x2='21' y2='18'%3E%3C/line%3E%3C/svg%3E");
}

/* BG ICON */
.bg-custom-icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
}

.search-icon {
  width: 18px;
  height: 18px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='17px' height='18px' viewBox='0 0 17 18' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3E🔹Icon Color%3C/title%3E%3Cg id='Admin' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M12.5006256,11.0006256 L11.7106256,11.0006256 L11.4306256,10.7306256 C12.6306256,9.33062559 13.2506256,7.42062559 12.9106256,5.39062559 C12.4406256,2.61062559 10.1206256,0.390625593 7.32062559,0.0506255931 C3.09062559,-0.469374407 -0.469374407,3.09062559 0.0506255931,7.32062559 C0.390625593,10.1206256 2.61062559,12.4406256 5.39062559,12.9106256 C7.42062559,13.2506256 9.33062559,12.6306256 10.7306256,11.4306256 L11.0006256,11.7106256 L11.0006256,12.5006256 L15.2506256,16.7506256 C15.6606256,17.1606256 16.3306256,17.1606256 16.7406256,16.7506256 C17.1506256,16.3406256 17.1506256,15.6706256 16.7406256,15.2606256 L12.5006256,11.0006256 Z M6.50062559,11.0006256 C4.01062559,11.0006256 2.00062559,8.99062559 2.00062559,6.50062559 C2.00062559,4.01062559 4.01062559,2.00062559 6.50062559,2.00062559 C8.99062559,2.00062559 11.0006256,4.01062559 11.0006256,6.50062559 C11.0006256,8.99062559 8.99062559,11.0006256 6.50062559,11.0006256 Z' id='🔹Icon-Color' fill='%239B9B9B' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.delete-icon {
  width: 20px;
  height: 20px;
  background-image: url(../images/icons/custom/delete-icon.png);
}

.left-side-nav {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 245px;
  height: 100%;
  min-height: 100vh;
  z-index: 9999;
  border-right: 1px solid #e8ecef;
}

.left-side-nav .nav-logo-section {
  padding: 15px 20px 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  min-height: 70px;
}

.left-side-nav .nav-logo-section .dash-logo {
  max-height: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.left-side-nav .nav-logo-section .dash-logo img {
  width: 148px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}

.left-side-nav .left-side-menu {
  padding: 0 0;
}

.left-side-nav .left-side-menu .left-side-inner {
  height: calc(100vh - 70px);
  min-height: 100px;
  overflow-y: auto;
  position: relative;
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
}

.left-side-nav .left-side-menu .left-side-inner::-webkit-scrollbar {
  width: 5px;
}

.left-side-nav .left-side-menu .left-side-inner::-webkit-scrollbar-track {
  background: #fafafa;
}

.left-side-nav .left-side-menu .left-side-inner::-webkit-scrollbar-thumb {
  background: #4d7cfe;
}

.left-side-nav .left-side-menu .left-side-inner::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.left-side-nav .left-side-menu .left-side-inner .side-nav-item {
  padding-bottom: 30px;
}

.left-side-nav .left-side-menu .left-side-inner .side-nav-item ul {
  margin: 0;
  padding: 0;
}

.left-side-nav .left-side-menu .left-side-inner .side-nav-item ul li.active .nav-link {
  position: relative;
  color: #778ca2;
  background: #f8fafb;
  font-weight: 500;
}

.left-side-nav .left-side-menu .left-side-inner .side-nav-item ul li.active .nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: #4d7cfe;
}

.left-side-nav .left-side-menu .left-side-inner .side-nav-item ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  margin-bottom: 0;
}

.left-side-nav .left-side-menu .left-side-inner .side-nav-item ul li .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: #fff;
  padding: 12px 22px 10px 22px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  color: #778ca2;
  letter-spacing: 0;
  min-height: 64px;
  text-transform: uppercase;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.left-side-nav .left-side-menu .left-side-inner .side-nav-item ul li .nav-link .text-collapse-menu {
  padding: 0 0 0 28px;
}

.left-side-nav .left-side-menu .left-side-inner .side-nav-item ul li .nav-link:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #f8fafb;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.left-side-nav.collapse-menu {
  width: 70px;
}

.left-side-nav.collapse-menu .nav-logo-section {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 15px 15px 15px 15px;
}

.left-side-nav.collapse-menu .nav-logo-section::after {
  top: 60px;
  bottom: auto;
}

.left-side-nav.collapse-menu.left-side-nav .btn-collapse-nav .button-collapse {
  right: -40px;
  top: -26px;
  background-color: #071c2f;
}

.left-side-nav.collapse-menu.left-side-nav .btn-collapse-nav .button-collapse i {
  color: #fff;
}

.left-side-nav.collapse-menu .left-side-menu .left-side-inner {
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
}

.left-side-nav.collapse-menu .left-side-menu .left-side-inner .inner-title-heading {
  display: none;
}

.left-side-nav.collapse-menu .nav-logo-section .dash-logo {
  width: 40px;
}

.left-side-nav.collapse-menu .nav-logo-section .dash-logo .logo-one {
  display: none;
}

.left-side-nav.collapse-menu .nav-logo-section .dash-logo .logo-two {
  display: block;
  position: relative;
  top: 0;
}

.left-side-nav.collapse-menu .btn-collapse-nav .button-collapse i {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.left-side-nav.collapse-menu .left-side-menu .left-side-inner .side-nav-item ul li .nav-link .text-collapse-menu {
  display: none;
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
}

.left-side-nav .left-side-menu.text-fixed-remove .left-side-inner .inner-title-heading h2 {
  display: none;
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
}

.left-side-nav .left-side-menu.text-fixed-remove .left-side-inner .side-nav-item ul li .nav-link .text-collapse-menu {
  display: none;
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
}

.backdrop-menu-layer {
  display: none;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.backdrop-menu-layer.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* End of collapse-menu */
@media (max-width: 767px) {
  .left-side-nav {
    width: 100%;
    height: auto;
    min-height: 70px;
    border-bottom: 1px solid #e8ecef;
    opacity: 1;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
  }
  .left-side-nav .nav-logo-section {
    width: calc(100% - 60px);
    min-height: 70px;
    padding: 5px 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .left-side-nav .nav-logo-section::after {
    opacity: 0;
  }
  .left-side-nav .nav-logo-section .dash-logo .logo {
    width: 120px;
  }
  .left-side-nav .nav-logo-section .mobile-menu-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    min-height: 70px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .left-side-nav .nav-logo-section .mobile-menu-button {
    padding: 0 15px;
    color: #252631;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin: 0;
    line-height: 24px;
    font-size: 24px;
    min-height: 70px;
    min-width: auto;
    outline: none;
  }
  .left-side-nav .nav-logo-section .mobile-menu-button .navbar-toggler-icon {
    display: inline-block;
    width: auto;
    height: auto;
  }
  .left-side-nav .left-side-menu {
    position: fixed;
    top: 0;
    right: -110%;
    width: 100%;
    max-width: 250px;
    background-color: #fff;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    z-index: 99999;
  }
  .left-side-nav .left-side-menu .left-side-inner {
    height: auto;
    min-height: 100vh;
    overflow-y: auto;
    position: relative;
    padding-top: 70px;
  }
  .left-side-nav .left-side-menu .left-side-inner .side-nav-item {
    overflow-y: scroll;
  }
  .left-side-nav .left-side-menu .menu-cloned-one {
    display: block;
    background-image: linear-gradient(216deg, #42b4e7 0%, #1c7fab 100%);
    margin: 0 0 10px 0;
    padding: 0 60px 0 0;
  }
  .left-side-nav .left-side-menu .menu-cloned-one .nav-dashboard-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle .user-profile .user-info h3 {
    font-weight: 500;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
  }
  .left-side-nav .left-side-menu .menu-cloned-one .nav-dashboard-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle::after {
    border-top: 5px solid #fff;
  }
  .left-side-nav .left-side-menu.active {
    display: block;
    right: 0;
  }
  .left-side-nav .closebtn {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 9;
    color: #fff;
    font-size: 24px;
    line-height: 40px;
    height: 40px;
    width: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    background-color: #0e2a76;
    border-radius: 6px;
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .left-side-nav {
    width: 100%;
    height: auto;
    min-height: 70px;
    border-bottom: 1px solid #e8ecef;
    opacity: 1;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
  }
  .left-side-nav .nav-logo-section {
    width: calc(100% - 60px);
    min-height: 70px;
    padding: 5px 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .left-side-nav .nav-logo-section::after {
    opacity: 0;
  }
  .left-side-nav .nav-logo-section .dash-logo .logo {
    width: 120px;
  }
  .left-side-nav .nav-logo-section .mobile-menu-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    min-height: 70px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .left-side-nav .nav-logo-section .mobile-menu-button {
    padding: 0 15px;
    color: #252631;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin: 0;
    line-height: 24px;
    font-size: 24px;
    min-height: 70px;
    min-width: auto;
    outline: none;
  }
  .left-side-nav .nav-logo-section .mobile-menu-button .navbar-toggler-icon {
    display: inline-block;
    width: auto;
    height: auto;
  }
  .left-side-nav .left-side-menu {
    position: fixed;
    top: 0;
    right: -110%;
    width: 100%;
    max-width: 250px;
    background-color: #fff;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    z-index: 99999;
  }
  .left-side-nav .left-side-menu .left-side-inner {
    height: auto;
    min-height: 100vh;
    overflow-y: auto;
    position: relative;
    padding-top: 70px;
  }
  .left-side-nav .left-side-menu .left-side-inner .side-nav-item {
    overflow-y: scroll;
  }
  .left-side-nav .left-side-menu .menu-cloned-one {
    display: block;
    background-image: linear-gradient(216deg, #42b4e7 0%, #1c7fab 100%);
    margin: 0 0 10px 0;
    padding: 0 60px 0 0;
  }
  .left-side-nav .left-side-menu .menu-cloned-one .nav-dashboard-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle .user-profile .user-info h3 {
    font-weight: 500;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
  }
  .left-side-nav .left-side-menu .menu-cloned-one .nav-dashboard-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle::after {
    border-top: 5px solid #fff;
  }
  .left-side-nav .left-side-menu.active {
    display: block;
    right: 0;
  }
  .left-side-nav .closebtn {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 9;
    color: #fff;
    font-size: 24px;
    line-height: 40px;
    height: 40px;
    width: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    background-color: #0e2a76;
    border-radius: 6px;
    padding: 0;
  }
}
/*# sourceMappingURL=left-sidebar.css.map */