.table-white-card-section .white-card {
  padding: 0;
  margin: 0 0 20px 0;
  position: relative;
  background: #fff;
  border-radius: 12px;
  -webkit-box-shadow: 0 0 4px 0 #e5e5e5;
          box-shadow: 0 0 4px 0 #e5e5e5;
}

.table-white-card-section .white-card .white-card-inner {
  padding: 0;
  margin: 0;
  position: relative;
}

.table-white-card-section .white-card .white-card-inner .white-card-header {
  padding: 15px 25px;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  min-height: 70px;
}

.table-white-card-section .white-card .white-card-inner .white-card-header .white-card-header-left {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(100% - 85px);
}

.table-white-card-section .white-card .white-card-inner .white-card-header .white-card-header-left h3 {
  font-size: 20px;
  line-height: 1.4;
  color: #252631;
  letter-spacing: 0.2px;
  margin: 0 0 0 0;
  display: block;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}

.table-white-card-section .white-card .white-card-inner .white-card-header .white-card-header-right {
  padding: 0;
  margin: 0;
  width: 85px;
}

.table-white-card-section .white-card .white-card-inner .white-card-header .white-card-header-right .btn.btn-white {
  min-width: 85px;
}

.table-white-card-section .white-card .white-card-inner .white-card-body {
  padding: 0;
  margin: 0;
  position: relative;
}

.table-white-card-section .white-card .white-card-inner .white-card-body .table {
  font-size: 12px;
}

.table-white-card-section .white-card .white-card-inner .white-card-body .table thead th {
  border-top: 0;
  border-bottom: 0;
  background: #fbfbfd;
  padding: 12px 15px;
  line-height: 24px;
  font-size: 13px;
  color: #8181a5;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  text-align: center;
  min-width: 100px;
}

.table-white-card-section .white-card .white-card-inner .white-card-body .table thead th:first-child {
  padding-left: 25px;
}

.table-white-card-section .white-card .white-card-inner .white-card-body .table thead th:last-child {
  padding-right: 25px;
}

.table-white-card-section .white-card .white-card-inner .white-card-body .table thead th.width-50 {
  width: 50%;
}

.table-white-card-section .white-card .white-card-inner .white-card-body .table thead th.width-25 {
  width: 25%;
}

.table-white-card-section .white-card .white-card-inner .white-card-body .table thead th.width-20 {
  width: 20%;
}

.table-white-card-section .white-card .white-card-inner .white-card-body .table td {
  border-top: 0;
  border-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  color: #1c1d21;
  padding: 12px 15px;
  line-height: 24px;
  font-family: "Lato", sans-serif;
  text-align: center;
}

.table-white-card-section .white-card .white-card-inner .white-card-body .table td:first-child {
  padding-left: 25px;
}

.table-white-card-section .white-card .white-card-inner .white-card-body .table td:last-child {
  padding-right: 25px;
}

.table-white-card-section .white-card .white-card-inner .white-card-body .table td .block {
  display: block;
}

.table-white-card-section .white-card .white-card-inner .white-card-body .table tbody tr:hover {
  background-color: #fbfbfd;
}

.table-white-card-section .white-card .white-card-inner .white-card-body .table tbody tr:first-child td {
  padding-top: 22px;
}

.table-white-card-section .white-card .white-card-inner .white-card-body .table tbody tr:last-child td {
  padding-bottom: 22px;
}

.table-white-card-section .white-card .white-card-inner .white-card-body .scroll-fixed {
  max-height: calc(100vh - 335px);
  overflow-y: auto;
  min-height: auto;
}

.table-white-card-section .white-card .white-card-inner .white-card-body .scroll-fixed .table {
  position: relative;
}

.table-white-card-section .white-card .white-card-inner .white-card-body .scroll-fixed .table thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

@media (min-width: 1025px) {
  .table-white-card-section .white-card .white-card-inner .white-card-body .scroll-fixed::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
  }
  .table-white-card-section .white-card .white-card-inner .white-card-body .scroll-fixed::-webkit-scrollbar {
    width: 16px;
    background-color: #fff;
  }
  .table-white-card-section .white-card .white-card-inner .white-card-body .scroll-fixed::-webkit-scrollbar-thumb {
    border-radius: 16px;
    border: 4px solid #fff;
    background-color: #f2f2f2;
  }
}

@media (max-width: 767px) {
  .table-white-card-section .white-card .white-card-inner .white-card-header {
    padding: 15px 15px;
    min-height: 64px;
  }
  .table-white-card-section .white-card .white-card-inner .white-card-header .white-card-header-left {
    width: calc(100% - 65px);
  }
  .table-white-card-section .white-card .white-card-inner .white-card-header .white-card-header-left h3 {
    font-size: 16px;
    letter-spacing: 0;
  }
  .table-white-card-section .white-card .white-card-inner .white-card-header .white-card-header-right {
    width: 65px;
  }
  .table-white-card-section .white-card .white-card-inner .white-card-header .white-card-header-right .btn.btn-white {
    min-width: 65px;
    font-size: 12px;
    padding: 6px 8px;
    min-height: 34px;
  }
  .table-white-card-section .white-card .white-card-inner .white-card-body .table thead th {
    padding: 12px 10px;
    font-size: 12px;
    line-height: 16px;
  }
  .table-white-card-section .white-card .white-card-inner .white-card-body .table thead th:first-child {
    padding-left: 12px;
  }
  .table-white-card-section .white-card .white-card-inner .white-card-body .table thead th:last-child {
    padding-right: 12px;
  }
  .table-white-card-section .white-card .white-card-inner .white-card-body .table td {
    font-size: 10px;
    padding: 12px 10px;
    line-height: 16px;
  }
  .table-white-card-section .white-card .white-card-inner .white-card-body .table td:first-child {
    padding-left: 12px;
  }
  .table-white-card-section .white-card .white-card-inner .white-card-body .table td:last-child {
    padding-right: 12px;
  }
  .table-white-card-section .white-card .white-card-inner .white-card-body .table .xs-width-120 {
    min-width: 120px;
  }
  .table-white-card-section .white-card .white-card-inner .white-card-body .table .xs-width-140 {
    min-width: 140px;
  }
  .table-white-card-section .white-card .white-card-inner .white-card-body .scroll-fixed {
    max-height: 505px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .table-white-card-section .white-card .white-card-inner .white-card-header {
    padding: 15px 15px;
    min-height: 64px;
  }
  .table-white-card-section .white-card .white-card-inner .white-card-header .white-card-header-left {
    width: calc(100% - 65px);
  }
  .table-white-card-section .white-card .white-card-inner .white-card-header .white-card-header-left h3 {
    font-size: 16px;
    letter-spacing: 0;
  }
  .table-white-card-section .white-card .white-card-inner .white-card-header .white-card-header-right {
    width: 65px;
  }
  .table-white-card-section .white-card .white-card-inner .white-card-header .white-card-header-right .btn.btn-white {
    min-width: 65px;
    font-size: 12px;
    padding: 6px 8px;
    min-height: 34px;
  }
  .table-white-card-section .white-card .white-card-inner .white-card-body .table thead th {
    padding: 12px 10px;
    font-size: 12px;
    line-height: 16px;
  }
  .table-white-card-section .white-card .white-card-inner .white-card-body .table thead th:first-child {
    padding-left: 15px;
  }
  .table-white-card-section .white-card .white-card-inner .white-card-body .table thead th:last-child {
    padding-right: 15px;
  }
  .table-white-card-section .white-card .white-card-inner .white-card-body .table td {
    font-size: 12px;
    padding: 12px 10px;
    line-height: 16px;
  }
  .table-white-card-section .white-card .white-card-inner .white-card-body .table td:first-child {
    padding-left: 15px;
  }
  .table-white-card-section .white-card .white-card-inner .white-card-body .table td:last-child {
    padding-right: 15px;
  }
  .table-white-card-section .white-card .white-card-inner .white-card-body .scroll-fixed {
    max-height: 620px;
  }
  .table-white-card-section .statistics-card .statistics-card-inner .statistics-card-header h3 {
    font-size: 16px;
  }
  .table-white-card-section .statistics-card .statistics-card-inner .statistics-card-body .statistics-number-view-box h4 {
    font-size: 22px;
  }
}
/*# sourceMappingURL=company-dasboard.css.map */