.panel-card-div {
  margin: 0 0 20px 0;
  position: relative;
  min-height: calc(100vh - 340px);
}

.panel-card-div .panel-card-row .check-step-form-div {
  padding: 20px 0 0 0;
}

.panel-card-div .panel-card-row .check-step-form-div .border-text-note-box {
  padding: 30px 22px;
  margin: 0 0 20px 0;
  position: relative;
  border: 1px solid #9c9fb8;
}

.panel-card-div .panel-card-row .check-step-form-div .border-text-note-box p {
  font-weight: 400;
  font-size: 14px;
  color: #9c9fb8;
  text-align: center;
  line-height: 1.5;
}

.panel-card-div .panel-card-row .check-step-form-div .text-general-note-card {
  padding: 0;
  margin: 0;
  position: relative;
}

.panel-card-div .panel-card-row .check-step-form-div .text-general-note-card .title-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.panel-card-div .panel-card-row .check-step-form-div .text-general-note-card .title-div h4 {
  font-weight: 400;
  font-size: 14px;
  color: #000;
  line-height: 1.5;
  margin: 0 0 10px 0;
  display: block;
}

.panel-card-div .panel-card-row .check-step-form-div .text-general-note-card .content-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.panel-card-div .panel-card-row .check-step-form-div .text-general-note-card .content-div p {
  font-weight: 400;
  font-size: 14px;
  color: #9c9fb8;
  line-height: 1.5;
  margin: 0 0 8px 0;
}

.panel-card-div .panel-card-row .check-step-form-div .text-general-note-card .content-div p .black-text-underline {
  color: #000;
  text-decoration: underline;
}

.panel-card-div .panel-card-row .check-step-form-div .text-general-note-card .content-div p .text-color2 {
  color: #f00;
}

.panel-card-div .panel-card-row .check-step-form-div .heading-title-div-h4 {
  padding: 0;
  margin: 15px 0 20px 0;
}

.panel-card-div .panel-card-row .check-step-form-div .heading-title-div-h4 h4 {
  font-weight: 400;
  font-size: 14px;
  color: #000;
  line-height: 1.4;
}

.panel-card-div .panel-card-row .check-step-form-div .form-custom-div .form-group-custom-text h3.h3-text {
  color: #98a9bc;
}

.comp-check-transfer-card {
  padding: 0;
  margin: 0;
  position: relative;
}

.comp-check-transfer-card .comp-check-transfer-card-box {
  padding: 10px 10px;
  margin: 0 0 10px 0;
  position: relative;
  background: #fff;
  border-radius: 4px;
}

.comp-check-transfer-card .comp-check-transfer-card-box .text-top-check-out-card-row {
  width: 100%;
}

.comp-check-transfer-card .comp-check-transfer-card-box .text-top-check-out-card-row .align-center-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comp-check-transfer-card .comp-check-transfer-card-box .text-top-check-out-card-row .wk-check-out-box-text {
  padding: 10px 10px 5px 10px;
  margin: 0 0 5px 0;
  position: relative;
}

.comp-check-transfer-card .comp-check-transfer-card-box .text-top-check-out-card-row .wk-check-out-box-text h2 {
  font-weight: 400;
  font-size: 14px;
  color: #98a9bc;
  line-height: 1.5;
  margin: 0 0 0 0;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-transform: uppercase;
}

.comp-check-transfer-card .comp-check-transfer-card-box .text-top-check-out-card-row .wk-check-out-box-text h2 span.text {
  width: 100%;
  word-break: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.comp-check-transfer-card .comp-check-transfer-card-box .text-top-check-out-card-row .wk-check-out-box-text h4 {
  font-weight: 400;
  font-size: 14px;
  color: #98a9bc;
  line-height: 1.5;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.comp-check-transfer-card .comp-check-transfer-card-box .text-top-check-out-card-row .wk-check-out-box-text h4 span.text {
  width: 100%;
  word-break: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.comp-check-transfer-card .comp-check-transfer-card-box .text-top-check-out-card-row .wk-check-out-box-text .status-label {
  background: #1fcd00;
  border-radius: 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  min-height: 36px;
  min-width: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 6px 10px 4px 10px;
}

.comp-check-transfer-card .comp-check-transfer-card-box .text-top-check-out-card-row .wk-check-out-box-text .status-label.valid-label {
  background: #1fcd00;
}

.comp-check-transfer-card .comp-check-transfer-card-box .text-top-check-out-card-row .wk-check-out-box-text .status-label.expired-label {
  background: #c70000;
}

.comp-check-transfer-card .comp-check-transfer-card-box .text-top-check-out-card-row .wk-check-out-box-text .right-side-check-out {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.comp-check-transfer-card .comp-check-transfer-card-box .text-top-check-out-card-row .wk-check-out-box-label-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.comp-check-transfer-card .comp-check-transfer-card-box .text-top-check-out-card-row .wk-check-out-box-label-text .label-thumb {
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comp-check-transfer-card .comp-check-transfer-card-box .text-top-check-out-card-row .wk-check-out-box-label-text .text-div {
  padding: 0 0 0 15px;
  margin: 0;
  width: calc(100% - 140px);
}

.comp-check-transfer-card .comp-check-transfer-card-box .text-top-check-out-card-row .wk-check-out-box-label-text .text-div h2 a {
  color: inherit;
}

.comp-check-transfer-card .comp-check-transfer-card-box .text-top-check-out-card-row .center-text {
  text-align: center;
}

.comp-check-transfer-card .comp-check-transfer-card-box .text-top-check-out-card-row .center-text h4,
.comp-check-transfer-card .comp-check-transfer-card-box .text-top-check-out-card-row .center-text p {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.comp-check-transfer-card .pagination-root {
  padding: 12px 0;
  margin: 0 0 20px 0;
  position: relative;
}

.check-transfer-top-first-row {
  padding: 0;
  margin: 10px 0 15px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.check-transfer-top-first-row .check-transfer-top-first-left {
  padding: 0;
  margin: 0 0 5px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
}

.check-transfer-top-first-row .check-wk-top-first-right {
  padding: 0;
  margin: 0 0 5px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
}

.check-transfer-top-first-row .check-wk-top-first-right .search-div {
  max-width: 300px;
  position: relative;
  margin: 0;
}

.check-transfer-top-first-row .check-out-text-box p {
  font-weight: 400;
  font-size: 14px;
  color: #000;
  line-height: 20px;
  margin: 0;
}

.check-transfer-top-first-row .new-link-box {
  padding: 5px 0;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.check-transfer-top-first-row .new-link-box .link.link-new {
  font-weight: 500;
  font-size: 12px;
  color: #4d7cfe;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.3;
}

.check-transfer-top-first-row .new-link-box .link.link-new .las {
  font-size: 18px;
  margin: 0 5px 0 0;
  display: inline-block;
}

.check-transfer-top-first-row .new-link-box .link.link-new .text {
  display: inline-block;
  line-height: 18px;
}

.search-div-c2 {
  margin: 0 0 35px 0;
}

.search-div-c2 .input-control {
  position: relative;
}

.search-div-c2 .search-icon-box {
  position: absolute;
  top: 0;
  right: 0;
  height: 52px;
  width: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  border: none;
  background-color: transparent;
  outline: none;
}

.worker-check-list-root {
  padding: 0 0 10px 0;
  margin: 0 0 0 0;
  position: relative;
}

.worker-check-list-root .worker-check-list-row {
  padding: 0;
  margin: 0;
  position: relative;
}

.worker-check-list-root .worker-check-list-row .worker-check-list-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: relative;
  margin: 0 0 30px 0;
}

.worker-check-list-root .worker-check-list-row .worker-check-list-box .worker-check-left-box {
  width: calc(100% - 50px);
}

.worker-check-list-root .worker-check-list-row .worker-check-list-box .worker-check-left-box h4 {
  font-size: 18px;
  font-weight: 400;
  color: #252631;
  line-height: 1.4;
}

.worker-check-list-root .worker-check-list-row .worker-check-list-box .worker-check-right-box {
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.selected-wk-check-root {
  padding: 0;
  margin: 0;
  position: relative;
}

.selected-wk-check-root .selected-wk-check-row {
  padding: 0;
  margin: 0;
  position: relative;
}

.selected-wk-check-root .selected-wk-check-row .heading-div-row {
  padding: 0;
  margin: 0;
  position: relative;
}

.selected-wk-check-root .selected-wk-check-row .heading-div-row h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: #252631;
  margin: 0 0 10px 0;
}

.selected-wk-check-root .selected-wk-check-row .selected-wk-check-list {
  padding: 0;
  margin: 0 0 20px 0;
  position: relative;
  max-height: 290px;
  overflow-y: auto;
}

.selected-wk-check-root .selected-wk-check-row .selected-wk-check-list::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

.selected-wk-check-root .selected-wk-check-row .selected-wk-check-list::-webkit-scrollbar {
  width: 16px;
  background-color: #fff;
}

.selected-wk-check-root .selected-wk-check-row .selected-wk-check-list::-webkit-scrollbar-thumb {
  border-radius: 16px;
  border: 4px solid #fff;
  background-color: #f2f2f2;
}

.selected-wk-check-root .selected-wk-check-row .selected-wk-check-list .img-text-col-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 0;
}

.selected-wk-check-root .selected-wk-check-row .selected-wk-check-list .img-text-col-box .img-thumb {
  width: 40px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.selected-wk-check-root .selected-wk-check-row .selected-wk-check-list .img-text-col-box .img-thumb .img-responsive {
  height: 40px;
  width: 40px;
  border-radius: 100px;
}

.selected-wk-check-root .selected-wk-check-row .selected-wk-check-list .img-text-col-box .text-div {
  padding: 0 0 0 15px;
  margin: 0;
  width: calc(100% - 40px);
}

.selected-wk-check-root .selected-wk-check-row .selected-wk-check-list .img-text-col-box .text-div h3 {
  font-weight: 400;
  font-size: 18px;
  color: #000;
  line-height: 1.4;
  margin: 0 0 0 0;
  display: block;
}

.selected-wk-check-root .selected-wk-check-row .selected-wk-check-list .img-text-col-box .text-div h3 a {
  color: inherit;
}

@media (min-width: 1025px) {
  .comp-check-transfer-card .comp-check-transfer-card-box .text-top-check-out-card-row .col-width-29 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 29%;
            flex: 0 0 29%;
    max-width: 29%;
  }
  .comp-check-transfer-card .comp-check-transfer-card-box .text-top-check-out-card-row .col-width-25 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .comp-check-transfer-card .comp-check-transfer-card-box .text-top-check-out-card-row .col-width-14 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 14%;
            flex: 0 0 14%;
    max-width: 14%;
  }
  .comp-check-transfer-card .comp-check-transfer-card-box .text-top-check-out-card-row .col-width-15 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15%;
            flex: 0 0 15%;
    max-width: 15%;
  }
  .comp-check-transfer-card .comp-check-transfer-card-box .text-top-check-out-card-row .col-width-17 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 17%;
            flex: 0 0 17%;
    max-width: 17%;
  }
}

@media (max-width: 767px) {
  .check-transfer-top-first-row .check-transfer-top-first-left {
    margin: 0 0 15px 0;
    width: 100%;
  }
  .check-transfer-top-first-row .check-wk-top-first-right {
    width: 100%;
  }
  .check-transfer-top-first-row .check-wk-top-first-right .search-div {
    max-width: 100%;
  }
  .panel-card-div .panel-card-row .check-step-form-div .border-text-note-box {
    margin: 0 0 30px 0;
  }
  .panel-card-div .panel-card-row .check-step-form-div .form-custom-div .form-group-custom-text h3.h3-text {
    min-height: auto;
  }
  .comp-check-transfer-card .comp-check-transfer-card-box .text-top-check-out-card-row .wk-check-out-box-label-text {
    margin: 5px 0 10px 0;
  }
  .comp-check-transfer-card .comp-check-transfer-card-box .text-top-check-out-card-row .wk-check-out-box-label-text .label-thumb {
    width: 100px;
  }
  .comp-check-transfer-card .comp-check-transfer-card-box .text-top-check-out-card-row .wk-check-out-box-label-text .status-label {
    font-size: 12px;
    line-height: 16px;
    min-height: 30px;
    min-width: 90px;
  }
  .comp-check-transfer-card .comp-check-transfer-card-box .text-top-check-out-card-row .wk-check-out-box-label-text .text-div {
    padding: 0 0 0 5px;
    width: calc(100% - 100px);
  }
  .comp-check-transfer-card .comp-check-transfer-card-box .text-top-check-out-card-row .wk-check-out-box-label-text .text-div h3 {
    font-size: 14px;
  }
  .comp-check-transfer-card .comp-check-transfer-card-box .text-top-check-out-card-row .wk-check-out-box-text h2 {
    font-size: 12px;
    line-height: 1.4;
    margin: 0 0 5px 0;
    min-height: auto;
  }
  .comp-check-transfer-card .comp-check-transfer-card-box .text-top-check-out-card-row .wk-check-out-box-text h4 {
    font-size: 12px;
    line-height: 1.4;
    margin: 0 0 0 0;
    min-height: auto;
  }
  .comp-check-transfer-card .comp-check-transfer-card-box .text-top-check-out-card-row .action-check-out-box {
    padding: 0 10px 0 10px;
  }
  .comp-check-transfer-card .comp-check-transfer-card-box .text-top-check-out-card-row .action-check-out-box .action-div {
    padding: 0;
  }
  .comp-check-transfer-card .comp-check-transfer-card-box .text-top-check-out-card-row .center-text h2 {
    text-align: left;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .comp-check-transfer-card .comp-check-transfer-card-box .text-top-check-out-card-row .center-text h4 {
    text-align: left;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    min-height: auto;
  }
  .worker-check-list-root .worker-check-list-row .worker-check-list-box {
    margin: 0 0 20px 0;
  }
  .worker-check-list-root .worker-check-list-row .worker-check-list-box .worker-check-left-box h4 {
    font-size: 14px;
    line-height: 20px;
    padding: 3px 0 2px 0;
  }
  .selected-wk-check-root .selected-wk-check-row .selected-wk-check-list {
    max-height: 215px;
  }
  .selected-wk-check-root .selected-wk-check-row .selected-wk-check-list .img-text-col-box .img-thumb {
    width: 32px;
    height: 32px;
  }
  .selected-wk-check-root .selected-wk-check-row .selected-wk-check-list .img-text-col-box .img-thumb .img-responsive {
    height: 32px;
    width: 32px;
  }
  .selected-wk-check-root .selected-wk-check-row .selected-wk-check-list .img-text-col-box .text-div {
    padding: 0 0 0 10px;
    width: calc(100% - 32px);
  }
  .selected-wk-check-root .selected-wk-check-row .selected-wk-check-list .img-text-col-box .text-div h3 {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .panel-card-div .panel-card-row .check-step-form-div .border-text-note-box {
    padding: 20px 12px;
  }
  .panel-card-div .panel-card-row .check-step-form-div .border-text-note-box p {
    font-size: 12px;
  }
  .comp-check-transfer-card .comp-check-transfer-card-box {
    padding: 10px 10px 5px 10px;
  }
  .comp-check-transfer-card .comp-check-transfer-card-box .text-top-check-out-card-row .wk-check-out-box-label-text {
    margin: 5px 0 10px 0;
  }
  .comp-check-transfer-card .comp-check-transfer-card-box .text-top-check-out-card-row .wk-check-out-box-label-text .label-thumb {
    width: 100px;
  }
  .comp-check-transfer-card .comp-check-transfer-card-box .text-top-check-out-card-row .wk-check-out-box-label-text .status-label {
    font-size: 12px;
    line-height: 16px;
    min-height: 30px;
    min-width: 90px;
  }
  .comp-check-transfer-card .comp-check-transfer-card-box .text-top-check-out-card-row .wk-check-out-box-label-text .text-div {
    padding: 0 0 0 5px;
    width: calc(100% - 100px);
  }
  .comp-check-transfer-card .comp-check-transfer-card-box .text-top-check-out-card-row .wk-check-out-box-label-text .text-div h3 {
    font-size: 14px;
  }
  .comp-check-transfer-card .comp-check-transfer-card-box .text-top-check-out-card-row .wk-check-out-box-text h2 {
    font-size: 12px;
    line-height: 1.4;
    margin: 0 0 5px 0;
    min-height: auto;
  }
  .comp-check-transfer-card .comp-check-transfer-card-box .text-top-check-out-card-row .center-text h2 {
    text-align: left;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .comp-check-transfer-card .comp-check-transfer-card-box .text-top-check-out-card-row .tab-left-text h4 {
    text-align: left;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
/*# sourceMappingURL=company-transfer.css.map */